.formBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--whiteOriginColor);
  display: flex;
  justify-content: center;

  z-index: 1000;
}

.form {
}

.formInput {
  display: block;
}

.formInputPhone {
  padding-left: 48px;
}

.inputWrapper {
  position: relative;
}

.inputWrapper::before {
  content: '';
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 16px;
  background: linear-gradient(to bottom, #005bbb 50%, #ffd500 50%);
}

.formError {
}

.formBtn {
}

.formCheckbox {
}

.formCheck {
}

.formCheckIcon {
}

.formText {
}

.formLink {
}

@media screen and (min-width: 768px) {
  .formBackdrop {
    width: 336px;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .formBackdrop {
    width: 488px;
  }
}
