.section {
  position: relative;
  background-color: aliceblue;
  background-image: url('../../../img/BG-mob.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .section {
    background-image: url('../../../img/BG-tab.svg');
  }
}

@media screen and (min-width: 1440px) {
  .section {
    background-image: url('../../../img/BG-tab.svg');
  }
}
